
header {
    background: #4dc96e;
    color: white;
    padding: 1rem;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

nav {
    background: #45ad61;
    padding: 0.5rem;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .dashboard-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .dashboard-item:hover {
    transform: scale(1.05);
  }
  
  .extra-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .reports-box, .subscription-box {
    width: 48%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .reports-box h3, .subscription-box h3 {
    margin-top: 0;
  }
  
